.header {
  display: flex;
  justify-content: space-between;
}
.header .h-logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 24px;
}
.header .h-logo > img {
  margin: 5px;
  width: 60px;
}
.header .h-logo > span {
  margin-left: 10px;
}
.header .lgoin {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 30px;
}
.header .lgoin .item {
  margin: 0 30px;
}
