.home {
  margin: 15px;
}
.card-div {
  display: flex;
  justify-content: space-between;
}
.card-div .icon {
  font-size: 64px;
}
.card-div .content {
  display: flex;
  flex-wrap: wrap;
  text-align: right;
}
.card-div .content .text {
  width: 100%;
  font-size: 18px;
  color: #8c8c8c;
}
.card-div .content .number {
  width: 100%;
  font-size: 30px;
  color: #666666;
}
